{% extends 'base.html' %}
{% block content %}
<h1>Football Shop</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<h5>App Name:</h5>
<p>{{ app_name }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not product_list %}
<p>Belum ada data produk di football shop.</p>
{% else %}
{% for product in product_list %}
<div>
  <h2>{{ product.name }}</h2>
  <p>Brand: {{ product.brand }} | Stock: {{ product.stock }} | Rating: {{ product.rating }}</p>
  <p>Price: Rp {{ product.price }}</p>
  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br>
  {% endif %}
  <p>{{ product.description|truncatewords:25 }}...</p>
</div>
<hr>
{% endfor %}
{% endif %}
{% endblock content %}
